<div class="forgot-password">
  <h2>Forgot Password</h2>
  <form class="example-form text-center" [formGroup]="forgotPassword" (ngSubmit)="sendPassword(forgotPassword)">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="userEmail" placeholder="User Email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="firstName" placeholder="First Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="lastName" placeholder="Last Name">
    </mat-form-field>
    <button mat-button class="btn">Click me!</button>
  </form>
</div>