<div class="advocacy-page" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
  <div class="close" (click)="onNoClick()">X</div>
  <div class="left-advocacy" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
    <img src="/assets/img/icons/home/Advocacy - White.svg" alt="MedNeon-Logo.svg">
  </div>
  <div class="right-advocacy" fxFlex="50">
    <h4>Advocacy</h4>
    <p>Cancer can be complex, confusing, and scary. We have partnered with Kaleidocare to bring you advocacy 
      services to guide you through the ins and outs of diagnosis, treatment, and survivorship and help you
      again control of your care.
    </p>
    <p>A Voice - What are you health-related questions, concerns and patient goals? We will lisen to
      you and act as your liaison to help best identify your needs for your best outcome with the resources
      available to you.
    </p>
    <p>Informed Decision Making - Understanding diagnosis and treatment options, obtain information
      on clinical trials, and compile your personal health record. We can also conduct research on 
      providers, preatment facilities, and coordinate second(and third) medical opinions.
    </p>
    <p>Medical billing Review - We can assist you with understanding your medical bills and review them
      for possible errors. We can also provide medical bill negotiation on your behalf.
    </p>
    <p>Insurance Eligibility - We can help you understand your insurance coverage, verify benefits
      and eligibility, appeal and negotiate coverage.
    </p>
    <p>Connections - We can cannect you to community and national resources as well as support programs</p>
    <div class="text-center img-block" fxLayout="row">
      <div fxFlex="50">
          <img src="/assets/img/icons/home/PHR_c.svg" alt="">
          <p>Personal Health Record</p>
      </div>
      <div fxFlex="50">
          <img src="/assets/img/icons/home/Ongoing.svg" alt="">
          <p>Ongoing Advocate Support</p>
      </div>
    </div>
    <button class="btn">Join To Access Service</button>
  </div>
</div>