<div class="risk-assessment" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
  <div class="close" (click)="onNoClick()">X</div>
  <div class="left-assessment" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
    <img src="/assets/img/icons/home/PTB - White.svg" alt="MedNeon-Logo.svg">
  </div>

  <div class="right-assessment" fxFlex="50">
    <h4>Risk Assessment</h4>
    <p>The free risk assessment is calculation based on your personal and family history to determine the 
      likelihood of cancer-causing mutations in your genes. Depending on the results, you may choose to add 
      our premium risk assessment service which includes an assigned expert physican and certified genetics
      counselor to guide you through the process. Genetic testing may be recommended to help identify a mutation
      that puts you at increased risk of cancer.
    </p>
    <div class="text-center img-block" fxLayout="row">
      <div fxFlex="33">
        <img src="/assets/img/icons/home/Free Risk Assessment.svg" alt="">
        <p>Free Risk Assessment</p>
      </div>
      <div fxFlex="33">
        <img src="/assets/img/icons/home/RA.svg" alt="">
        <p>Genetic Testing</p>
      </div>
      <div fxFlex="33">
        <img src="/assets/img/icons/home/Expert Interp.svg" alt="">
        <p>Expert Interpretation</p>
      </div>
    </div>
    <div>
      <p class="money">$150</p>
      <p class="personal-per">per risk assessment</p>
      <p class="extra">(extra genetic testing not included)</p>
    </div>
    <button class="btn">Join to Access Services</button>
  </div>
</div>