<div class="personalized-block" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
  <div class="close" (click)="onNoClick()">X</div>
  <div class="left-personalized" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
    <img src="/assets/img/icons/home/PTB - White.svg" alt="MedNeon-Logo.svg">
  </div>

  <div class="right-personalized" fxFlex="50">
    <h4>Personalized Tumor Board
      <sup>TM</sup>
    </h4>
    <p>PTB is a dedicated, multi-disciplinary team of experts working together for you to provide the 
      best comprehensive personalized care plan. The team can consist of breast surgeons, reconstructive 
      surgeons, medical and radiation oncologists, pathologist, nurses, and advocates. The MedNeon PTB 
      has a network of the top breast experts across the U.S. independently reviewing your case regardless
      of where you live.
    </p>
    <p>We belive this improves access to testing and technology, increases awareness and patient knowledge,
      improves outcomes, and empowers patients and families to make healthcare decisions.
    </p>
    <div class="text-center img-block" fxLayout="row">
      <div fxFlex="50">
        <img src="/assets/img/icons/home/PHR.svg" alt="">
        <p>Personal Health Record</p>
      </div>
      <div fxFlex="50">
        <img src="/assets/img/icons/home/PTB.svg" alt="">
        <p>Personalized Tumor Board
          <sup>TM</sup>
        </p>
      </div>
    </div>
    <div>
      <p class="money">$2,500</p>
      <p class="personal-per">per Personalized Tumor Board<sup>TM</sup> meeting and consensus</p>
      <p class="extra">(does not include additional testing)</p>
    </div>
    <button class="btn">Join to Access Services</button>

  </div>
</div>