<div class="change-password">
  <h2>Change Password</h2>
  <form class="example-form" [formGroup]="changePass" (ngSubmit)="changePassword(changePass)">
    <mat-form-field class="example-full-width">
      <label>Old Password</label>
      <input formControlName="oldpass" matInput type="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <label>New Password</label>
      <input matInput formControlName="newpass" type="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <label> Repeat Password</label>
      <input matInput type="password" formControlName="repeatpass">
    </mat-form-field>
    <button mat-button class="btn">Click me!</button>
  </form>
</div>